{% load daisyui %}{% if field_class %}<div class="{{ field_class }}">{% endif %}
{% if drawn.is_joined %}{% with join_class=drawn.join.css_class|daisyui_classes %}<div{% if drawn.join.css_id %} id="{{ drawn.join.css_id }}"{% endif %} class="join w-full{% if join_class %} {{ join_class }}{% endif %}"{{ drawn.join.flat_attrs }}>{% endwith %}{% endif %}
{% if drawn.is_single_checkbox and field.label and form_show_labels != False %}
  <label{% if field.id_for_label %} for="{{ field.id_for_label }}"{% endif %} class="label{% if label_class %} {{ label_class }}{% endif %}">
    {{ drawn.render }}{{ field.label }}{% include "daisyui/required_marker.html" %}
  </label>
{% elif drawn.has_attached_text %}
  <label class="{{ drawn.attached_class }}">
    {% if drawn.prepended %}<span class="label">{{ drawn.prepended|safe }}</span>{% endif %}
    {{ drawn.render }}
    {% if drawn.appended %}<span class="label">{{ drawn.appended|safe }}</span>{% endif %}
  </label>
{% else %}
  {{ drawn.render }}
{% endif %}
{% if drawn.is_joined %}{{ buttons }}</div>{% endif %}
{% if field_class %}</div>{% endif %}
{% if field.help_text %}
  <p{% if field.auto_id %} id="{{ field.auto_id }}_helptext"{% endif %} class="label">{{ field.help_text }}</p>
{% endif %}
{% if field.errors and form_show_errors != False %}
  <div{% if field.auto_id %} id="{{ field.auto_id }}_error"{% endif %} class="text-error">
    {% for error in field.errors %}<p>{{ error }}</p>{% endfor %}
  </div>
{% endif %}
