{% load i18n %}
<dialog id="{{ modal.css_id }}" class="modal{% if modal.css_class %} {{ modal.css_class }}{% endif %}"{{ modal.flat_attrs }}{% if 'aria-invalid="true"' in fields %} open autofocus{% endif %}>
  <div class="modal-box">
    <h3 id="{{ modal.title_id }}-label"{% if modal.title_class %} class="{{ modal.title_class }}"{% endif %}>{{ modal.title }}</h3>
    {{ fields }}
    <div class="modal-action">
      <button type="button" class="btn daisyui-size" onclick="this.closest('dialog').close()">{% translate "Close" %}</button>
    </div>
  </div>
</dialog>
